@import url('../css/main.css');

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    border-left: 0.37rem solid orange;
    padding-left: 0.87rem;
}

.contactTitel {
    width: 20%;
    height: auto;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 12rem;
    left: 15%;
}

.contactText {
    color: #000;
    font-family: "Anek Bangla";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: absolute;
    width: 20%;
    height: auto;
    top: 16rem;
    left: 17%;
}

.formNaam {
    color: #000;
    font-family: "Anek Bangla";
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: absolute;
    width: auto;
    height: auto;
    top: 22rem;
    left: 15%;
}

.formNaamInput {
    width: 25%;
    height: auto;
    border-radius: 0.63rem;
    border: 0.31rem solid #D9D9D9;
    background: #FFF;
    flex-shrink: 0;
    position: absolute;
    top: 26rem;
    left: 15%;
    padding: 0.5rem; 
    font-size: 1rem; 
}

.formEmail {
    color: #000;
    font-family: "Anek Bangla";
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: absolute;
    width: auto;
    height: auto;
    top: 30rem;
    left: 15%;
}

.formEmailInput {
    width: 25%;
    height: auto;
    border-radius: 0.63rem;
    border: 0.31rem solid #D9D9D9;
    background: #FFF;
    flex-shrink: 0;
    position: absolute;
    top: 34rem;
    left: 15%;
    padding: 0.5rem; 
    font-size: 1rem; 
}

.formVraag {
    color: #000;
    font-family: "Anek Bangla";
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: absolute;
    width: auto;
    height: auto;
    top: 38rem;
    left: 15%;
}

.formVraagInput {
    width: 25%;
    height: 5rem;
    border-radius: 0.63rem;
    border: 0.31rem solid #D9D9D9;
    background: #FFF;
    flex-shrink: 0;
    position: absolute;
    top: 42rem;
    left: 15%;
    padding: 0.5rem; 
    font-size: 1rem; 
}

.submit {
    width: 10%;
    height: 4rem;
    border-radius: 0.94rem;
    background: var(--Red, #F34F3A);
    flex-shrink: 0;
    color: #FFF;
    font-family: "Anek Bangla";
    font-size: 1.25rem;
    position: absolute;
    top: 50rem;
    left: 15%;
}

.faqTitel{
    width: 269px;
    height: 73px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    width: 269;
    height: 73;
    top: 194px;
    left: 1287px;

}

.faqText{
    color: #000;
    font-family: "Anek Bangla";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: absolute;
    width: 20%;
    height: auto;
    top: 270px;
    left: 1317px;
}

.faqQuestion1 {
    width: 461px;
    height: 55px;
    border-radius: 10px;
    border: 5px solid #D9D9D9;
    background: #FFF;
    flex-shrink: 0;
    position: absolute;
    width: 461;
    height: 55;
    top: 415px;
    left: 1282px;
    border-radius: 10px;
    border-width: 5px;
    color: #000;
    font-family: "Anek Bangla";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.faqAnswer1 {
    width: 461px;
    height: 55px;
    border-radius: 10px;
    border: 5px solid #D9D9D9;
    background: #FFF;
    flex-shrink: 0;
    position: absolute;
    width: 461;
    height: 55;
    top: 480px;
    left: 1282px;
    border-radius: 10px;
    border-width: 5px;
    color: #000;
    font-family: "Anek Bangla";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.faqQuestion2 {
    width: 461px;
    height: 55px;
    border-radius: 10px;
    border: 5px solid #D9D9D9;
    background: #FFF;
    flex-shrink: 0;
    position: absolute;
    width: 461;
    height: 55;
    top: 545px;
    left: 1282px;
    border-radius: 10px;
    border-width: 5px;
    color: #000;
    font-family: "Anek Bangla";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.faqAnswer2 {
    width: 461px;
    height: 115px;
    border-radius: 10px;
    border: 5px solid #D9D9D9;
    background: #FFF;
    flex-shrink: 0;
    position: absolute;
    top: 610px;
    left: 1282px;
    border-radius: 10px;
    border-width: 5px;
    color: #000;
    font-family: "Anek Bangla";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

@media (max-width: 1920px) and (max-height: 1080px) {
    h1 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        border-left-width: 0.3rem;
        padding-left: 0.7rem;
    }

    .contactTitel {
        width: 15%;
        top: 9rem;
        left: 12%;
        font-size: 3rem;
    }

    .contactText {
        width: 15%;
        top: 12rem;
        left: 13%;
        font-size: 1.2rem;
    }

    .formNaam {
        top: 15rem;
        left: 12%;
        font-size: 1.4rem;
    }

    .formNaamInput {
        width: 20%;
        top: 18rem;
        left: 12%;
        padding: 0.4rem;
        font-size: 0.9rem;
    }

    .formEmail {
        top: 22rem;
        left: 12%;
        font-size: 1.4rem;
    }

    .formEmailInput {
        width: 20%;
        top: 25rem;
        left: 12%;
        padding: 0.4rem;
        font-size: 0.9rem;
    }

    .formVraag {
        top: 29rem;
        left: 12%;
        font-size: 1.4rem;
    }

    .formVraagInput {
        width: 20%;
        height: 4rem;
        top: 32rem;
        left: 12%;
        padding: 0.4rem;
        font-size: 0.9rem;
    }

    .submit {
        width: 8%;
        height: 3rem;
        top: 38rem;
        left: 12%;
        font-size: 1rem;
    }

    .faqTitel {
        width: 200px;
        height: 55px;
        top: 150px;
        left: 1100px;
        font-size: 48px;
    }

    .faqText {
        width: 15%;
        top: 210px;
        left: 1120px;
        font-size: 16px;
    }

    .faqQuestion1 {
        width: 350px;
        height: 45px;
        top: 311px; 
        left: 1110px; 
        font-size: 16px;
    }

    .faqAnswer1 {
        width: 350px;
        height: 45px;
        top: 365px; 
        left: 1110px; 
        font-size: 14px;
    }

    .faqQuestion2 {
        width: 350px;
        height: 45px;
        top: 420px; 
        left: 1110px; 
        font-size: 16px;
    }

    .faqAnswer2 {
        width: 350px;
        height: 100px;
        top: 480px; 
        left: 1110px; 
        font-size: 16px;
    }
}