@import url('main.css');

h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    border-left: 6px solid orange;
    padding-left: 14px;
}

.hero {
    background-color: var(--purple);
    height: 70px;
    display: flex;
    align-items: center;
    width: 1920;
    height: 500;
    font-family: "TT Backwards Sans Trial";
    
}