@import url('main.css');
body {
    height: 975px; 
}

h1 {
    font-size: 1.8rem; 
    margin-bottom: 22.5px; 
    border-left: 2.25px solid orange; 
    padding-left: 10.5px; 
}

.hero {
    background-color: var(--purple);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 225px;
    font-family: "TT Backwards Sans Trial";
}

.heroTextKlein {
    color: #FFF;
    font-family: "TT Backwards Sans Trial";
    font-size: 30px; 
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px; 
}

.heroTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroTextGroot1 {
    width: 339.75px; 
    color: #FFF;
    font-family: "TT Backwards Sans Trial";
    font-size: 120px; 
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 15px; 
}

.heroTextGroot2 {
    width: 339.75px; 
    color: #F34F3A;
    font-family: "TT Backwards Sans Trial";
    font-size: 120px; 
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 15px; 
    margin-left: -22.5px; 
    margin-right: 172.5px; 
}

.vandaagTitel {
    color: #000;
    font-family: Inter;
    font-size: 22.5px; 
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    width: 96px; 
    height: 27px; 
    top: 345px; 
    left: 723.75px; 
}

.vandaagText {
    color: #000;
    font-family: "Anek Bangla";
    font-size: 15px; 
    font-style: normal;
    font-weight: 300;
    line-height: 90%; 
    position: absolute;
    width: 110.25px; 
    height: 18px; 
    top: 379.5px; 
    left: 723.75px; 
}

.gisterenTitel {
    color: #000;
    font-family: Inter;
    font-size: 22.5px; 
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    width: 96px; 
    height: 27px; 
    top: 450px; 
    left: 723.75px; 
}

.gisterenText {
    color: #000;
    font-family: "Anek Bangla";
    font-size: 15px; 
    font-style: normal;
    font-weight: 300;
    line-height: 90%; 
    position: absolute;
    width: 110.25px; 
    height: 18px; 
    top: 484.5px; 
    left: 723.75px; 
}

.onsProgrammaTitel {
    color: #000;
    font-family: Inter;
    font-size: 22.5px; 
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    width: 174.75px; 
    height: 27px; 
    top: 345px; 
    left: 115.5px; 
}

.onsProgrammaText {
    color: #000;
    font-family: "Anek Bangla";
    font-size: 15px; 
    font-style: normal;
    font-weight: 300;
    line-height: 90%; 
    letter-spacing: -0.6px;
    position: absolute;
    width: 337.5px; 
    height: 18px; 
    top: 379.5px; 
    left: 115.5px; 
}

.beginner {
    width: 140.25px; 
    height: 106.5px; 
    border-radius: 19.5px; 
    background: #9C65D5;
    flex-shrink: 0;
    position: absolute;
    top: 502.5px; 
    left: 115.5px; 
}

.beginner img {
    position: relative;
    left: 7.5px; 
    top: 7.5px; 
    height: 30%;
    width: 30%;
}

.beginnerText {
    color: #000;
    font-family: "TT Backwards Sans Trial";
    font-size: 15px; 
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    position: relative;
    left: 7.5px; 
    top: 7.5px; 
}

.beginnerPrijs {
    color: #000;
    font-family: "Anek Bangla";
    font-size: 12px; 
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    top: 1.5px; 
    left: 7.5px; 
}

.dynamisch {
    width: 140.25px; 
    height: 106.5px; 
    border-radius: 19.5px; 
    background: #60B4D4;
    flex-shrink: 0;
    position: absolute;
    top: 502.5px; 
    left: 268.5px; 
}

.dynamisch img {
    position: relative;
    left: 7.5px; 
    top: 7.5px; 
    height: 30%;
    width: 30%;
}

.dynamischText {
    color: #000;
    font-family: "TT Backwards Sans Trial";
    font-size: 15px; 
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    left: 7.5px; 
    top: 7.5px; 
}

.dynamischPrijs {
    color: #000;
    font-family: "Anek Bangla";
    font-size: 12px; 
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    top: 1.5px; 
    left: 7.5px; 
}

.gevorderd {
    width: 140.25px; 
    height: 106.5px; 
    border-radius: 19.5px; 
    background: #5BCA54;
    flex-shrink: 0;
    position: absolute;
    top: 619.5px; 
    left: 115.5px; 
}

.gevorderd img {
    position: relative;
    left: 7.5px;
    top: 7.5px;
    height: 30%;
    width: 30%;
}

.gevorderdText {
    color: #000;
    font-family: "TT Backwards Sans Trial";
    font-size: 15px; 
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    left: 7.5px; 
    top: 7.5px;
}

.gevorderdPrijs {
    color: #000;
    font-family: "Anek Bangla";
    font-size: 12px; 
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    top: 1.5px;
    left: 7.5px; 
}

.ultimate {
    width: 140.25px;
    height: 106.5px; 
    border-radius: 19.5px; 
    background: #ED5E4B;
    flex-shrink: 0;
    position: absolute;
    top: 619.5px;
    left: 268.5px; 
}

.ultimate img {
    position: relative;
    left: 7.5px;
    top: 7.5px; 
    height: 30%;
    width: 30%;
}

.ultimateText {
    color: #000;
    font-family: "TT Backwards Sans Trial";
    font-size: 15px; 
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    left: 7.5px;
    top: 7.5px; 
}

.ultimatePrijs {
    color: #000;
    font-family: "Anek Bangla";
    font-size: 12px; 
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    top: 1.5px; 
    left: 7.5px; 
}

.product-button {
    display: inline-block;
    background-color: var(--purple);
    color: white;
    font-family: "TT Backwards Sans Trial", sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    padding: 4px 8px;
    border-radius: 10px;
    position: absolute;
    bottom: 7.5px;
    right: 7.5px;
    transition: background-color 0.2s ease;
}

.product-button:hover {
    background-color: var(--red);
}


.beginner .product-button {
    background-color: #8550c0;
}

.dynamisch .product-button {
    background-color: #4da0c0;
}

.gevorderd .product-button {
    background-color: #4cb546;
}

.ultimate .product-button {
    background-color: #d74f3c;
}